/* ini css */


.header-conten{
    text-align: center;
    font-style: oblique;
    color: goldenrod;
}


.main-title {
    text-align: center;
}

.main-articel {
    border: 3px solid;
    flex: 1;
    padding: 10px;
    margin: 10px;
    font-size: medium;
    font-style: italic;
    
}

 main{
    display: flex;
    justify-content: space-around;
 }

 .main-content{
    border: 3px solid;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.main-result {
    border: 3px solid;
    flex: 1;
    padding: 10px;
    margin: 10px;

}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid gray;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=number]:focus {
    border:3px solid green;
  }



 
